@import url(reset.css);

.App {
  text-align: center;
  display: flex;
}

/* PLAY GROUND */
.main {
position: absolute;
/* padding: 0.1%; */
width: 200px;
height: 70px;
left: 110px;
top: 375px;
display:block;
margin: 0 auto;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 70px;
/* identical to box height */
letter-spacing: -0.03em;

color: #63B8B0;

}
.main2 {
  position: absolute;
  width: 730px;
  height: 70px;
  left: 110px;
  top: 375px;
  
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  /* identical to box height */
  letter-spacing: -0.03em;
  
  color: #FF9B3F;
  
  }

.login{
  position: absolute;
width: 132px;
height: 40px;
left: 943px;
top: 302px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 40px;
/* identical to box height */
letter-spacing: -0.03em;

color: #989898;

}

.playlogin {
  position: absolute;
  width: 423px;
  height: 52px;
  left: 797px;
  top: 504px;
  font-family: 'Josefin Sans';
  font-size: 30px;
  color : white;
  background: #FF9B3F;
  border-radius: 5px;
}

.Rectangle10{
position: absolute;
width: 225px;
height: 52px;
left: 897px;
top: 640px;

background: #63B8B0;
border-radius: 5px;
}

.new {
  position: absolute;
width: 134px;
height: 30px;
left: 943px;
top: 652px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 30px;
text-align: center;
letter-spacing: -0.03em;

color: white;

position: absolute;
width: 225px;
height: 52px;
left: 897px;
top: 640px;

background: #63B8B0;
border-radius: 5px;
}

.idfind {
  position: absolute;
width: 136px;
height: 21px;
left: 867px;
top: 583px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
text-align: center;
letter-spacing: -0.03em;

color: #B5B5B5;
}

.passwordfind {
  position: absolute;
  width: 136px;
  height: 21px;
  left: 1020px;
  top: 583px;
  
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.03em;
  
  color: #B5B5B5;
}

.i {
  position: absolute;
width: 136px;
height: 21px;
left: 940px;
top: 583px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
text-align: center;
letter-spacing: -0.03em;

color: #B5B5B5;
}

.group17 {
  position: absolute;
  width: 423px;
  height: 50px;
  left: 797px;
  top: 371px;
}

.group16{
  position: absolute;
  width: 423px;
  height: 50px;
  left: 797px;
  top: 371px;
}

.serve {
  position: absolute;
  width: 550px;
  height: 80px;
  left: 112px;
  top: 452px;
  
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 80px;
  /* identical to box height, or 235% */
  letter-spacing: -0.03em;
  
  color: #000000;
}

.idinput {
  box-sizing: border-box;

  position: absolute;
  width: 422px;
  height: 44px;
  left: 797px;
  top: 380px;
  padding: 20px;
  
  background: #FFFFFF;
  border: 0.5px solid #B5B5B5;
  border-radius: 6px;
  filter: drop-shadow(2px 2px 2px #D9D9D9);
}
.passwordinput{
    box-sizing: border-box;
    position: absolute;
    width: 422px;
    height: 44px;
    left: 797px;
    top: 440px;
    padding: 20px;
    
    background: #FFFFFF;
    border: 0.5px solid #B5B5B5;
    border-radius: 6px;
    filter: drop-shadow(2px 2px 2px #D9D9D9);
  }


.group1{
  position: absolute;
width: 520px;
height: 93px;
left: 110px;
top: 352px;
}


.outbox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  width: 535px;
  height: 510px;
  left: 741px;
  top: 240px;
  padding: 20px;
  
  background: #FFFFFF;
  border: 0.5px solid #B5B5B5;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 2px #D9D9D9);
}



