server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:33060/playground?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: admin
    password: 1234

  thymeleaf:
    cache: false

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    format_sql: true
    use_sql_comments: true
    open-in-view: false
    show_sql: true
    hibernate:
      ddl-auto: create